
/* boxes */
.card-1 img {
    height: 90%;
    width: 250px;
    position: relative;
    left: 30%;
    bottom: 20%;
    border-radius: 5px;
}
.card-2 img {
    height: 90%;
    width: 250px;
    position: relative;
    left: 30%;
    bottom: 20%;
    border-radius: 5px;
}
.card-3 img {
    height: 90%;
    width: 250px;
    position: relative;
    left: 30%;
    bottom: 20%;
    border-radius: 5px;
}

.card-1 {
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.2);
    height: 250px;
    border-radius: 5px;

}
.card-2 {
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.2);
    height: 250px;
    border-radius: 5px;
    

}

.card-3 {
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.2);
    height: 250px;
    border-radius: 5px;

}

.container-boxes {
    margin: 190px 0px;
}

.center {
    display: flex;
    justify-content: space-between;
    margin-right: 100px;
}


.boxes-content h1 {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 120px 0;
    color: #444;
}


.p {
   position: absolute;
   top: 999px;
   width: 200px;
   padding-left: 20px;
}

@media screen and (max-width: 768px) {
    .center {
        display: block;
        margin: 40px 30px;
       
    }
    .card-1,
    .card-2,
    .card-3 {
        margin: 120px 30px;
        width: 550px;
        height: 270px;
    }

    .card-1 img,
    .card-2 img,
    .card-3 img {
        height: 90%;
        width: 480px;
        position: relative;
        left: 30%;
        bottom: 20%;
        border-radius: 5px;
    }

    .p {
        position: relative;
        top: -30px;
     }


    @media screen and (max-width: 500px) {
        .container-boxes {
            margin-top: 400px;
        }

        .center {
            flex: 1;
            margin: 80px 10px;
           
        }

        .card-1,
        .card-2,
        .card-3 {
            /* margin: 120px 20px; */
            margin-left: 2px;
            width: 350px;
            height: 270px;
        }

        .card-1 img,
        .card-2 img,
        .card-3 img{
           position: relative;
           left: 1px;
           width: 100%;
        }






    }
    
}
