
/* shadows  */
.container-shadow {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 100;
    line-height: 1.4;
    margin: 70px 0;
}

.shadow-box {
    position: relative;
    max-width: 400px;
    height: auto;
    box-shadow: 1px 0px 0px 2px rgba(0, 0, 0, 0.2);
    /* margin: 100px 30px; */
    box-sizing: border-box;
    padding: 40px;
}

.shadow-box::after {
    position: absolute;
    width: 50px;
    height: 50px;
    box-shadow: 2px 3px rgba(0, 0, 0, 0.1);
    top: 100%;
    left: 70%;
    margin-left: -25px;
    content: '';
    transform: rotate(45deg);
    margin-top: -25px;
}

.shadow2 {
    position: relative;
    max-width: 400px;
    height: auto;
    box-shadow: 1px 0px 0px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    padding: 40px;

}

.shadow2::after {
    position: absolute;
    width: 50px;
    height: 50px;
    box-shadow: 2px 3px rgba(0, 0, 0, 0.1);
    top: 100%;
    left: 70%;
    margin-left: -25px;
    content: '';
    transform: rotate(45deg);
    margin-top: -25px;
    /* border-radius: -70px; */
}

.circle1 {
    display: flex;
    height: 155px;
    margin-left: 160px;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;
    justify-items: center;
}

.circle1 img {
    width: 70px;
    clip-path: circle();
}

@media screen and (max-width: 768px) {
    .container-shadow {
       flex: 1;
        margin: 70px 40px;
    }

    .shadow-box {
        padding: 20px;
        max-width: 300px;
        height: 400px;
        font-size: 22px;
    }

    .shadow2 {
        padding: 20px;
        max-width: 300px;
        height: 400px;
        font-size: 22px;
    
    }

    .circle1 {
       flex: 1;
        margin-left: 120px;
    }

    @media screen and (max-width: 500px) {
        .container-shadow {
            flex: 1;
            margin: 70px 10px;
        }

        .shadow-box {
            padding: 7px;
            max-width: 170px;
            height: 300px;
            font-size: 15px;
            margin-left: 2px;
        }

        .shadow2 {
            padding: 7px;
            max-width: 170px;
            height: 300px;
            font-size: 15px;
            margin-left: 15px;
        
        }

        .circle1 {
            flex: 1;
             margin-left: 70px;
        }






    }

    
    



}