@import url('showcase.css');
@import url('side-img-clip.css');
@import url('boxes.css');
@import url('what.css');
@import url('donete.css');
@import url('conment.css');
@import url('footer.css');
:root {
    --primary-color: #26e626;
    --secondary-color: #470303b9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.4;
    /* position: relative; */
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.container-nav {
    display: flex;
    justify-content: space-between;
}

.logo {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 600;
}

.logo span {
    color: var(--secondary-color);
}
.logo .span-g {
    color: var(--primary-color);
}

.container-nav ul {
    display: flex;
   list-style: none;
   
}

.container-nav ul li {
    padding: 10px 0;
    margin-right: 80px;
}

.container-nav ul li a {
    text-decoration: none;
    transition: all 2s ease;
}

.container-nav ul li a:hover {
    border-top: 5px solid var(--secondary-color);
    color: salmon;
}

.side-button  {
  margin-top: 10px;
  position: relative;
  z-index: 1;
}

.side-button a{
    text-decoration: none;
    margin: 0 30px;
    color: #fff;
}

.side-button a:hover {
    color: red;
}

.side-button button {
    background: var(--primary-color);
    height: 30px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 2s ease;
}

.side-button button a {
    color: #fff;
}

.side-button button:hover {
    background: #ddd;
}


/* side-img */
.circle-img img {
    position: absolute;
    height: 70%;
    width: 70%;
    top: 0;
    right: 200px;
    clip-path: circle(50% at right 40%);
}

.text p{
  position: absolute;
  right: 200px;
  bottom: 290px;
  width: 290px;
  font-size: 30px;
  z-index: 1;
  color: #fff;
  margin-right: 40px;

}

@media screen and (max-width: 768px) {
    .container-nav {
        margin:  0 30px;
    }
    .logo {
       font-size: 30px;
    }

    .container-nav ul {
        display: block;
        position: absolute;
        top: 90px;
        left: -20px;
        background: linear-gradient(#39a4c5,#5555e6,#39a4c5,#5555e6);
        width: 400px;
        height: 250px;
    }
    .container-nav ul li {
        margin-left: 50px;
        padding: 18px 0;
    }
    .container-nav ul li a {
        color: #fff;
        font-size: 30px;
    }

    .circle-img img {
        position: absolute;
        height: 70%;
        width: 600px;
        top: 0;
        left: 140px;
    }

    .text p{
        position: absolute;
        left: 450px;
        top: 200px;
        width: 290px;
        font-size: 30px;
        z-index: 1;
       
      
    }

    @media screen and (max-width: 500px) {
        .container-nav {
            margin:  0 10px;
        }

        .logo {
            font-size: 20px;
        }

        .container-nav ul {
            position: absolute;
            top: 90px;
            left: -20px;
            width: 150px;
            height: 200px;
            border-radius: 0px 99px 99px 0px;
        }

        .container-nav ul li {
            margin-left: 30px;
            padding: 18px 0;
        }
     
        .container-nav ul li a {
           font-size: 20px;
        }

        .circle-img img {
            position: absolute;
            height: 70%;
            width: 350px;
            top: -20px;
            left: 13px;
        }

        .text p{
            position: absolute;
            left: 158px;
            top: 100px;
            width: 200px;
            font-size: 22px;
        }

        .side-button  {
            position: relative;
            top: 40px;
           
        }

        /* @media screen and (max-width: 414px) {
            .circle-img img {
                position: absolute;
                height: 70%;
                width: 350px;
                top: -20px;
                left: 40px;
            }
    
        } */
          
     






    }








}
