:root {
    --primary-color: #1acc1a;
    --secondary-color: #a52a2ac2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.4;
    font-weight: 500;
}

a {
    list-style: none;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.container-main-nav{
    display: flex;
    /* justify-content: space-around; */
       
}

.container-content .logo {
    padding-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: initial;
    font-weight: bold;
    font-size: 20px;
}

/* span */
.span {
    color: var(--secondary-color);
}

.g {
    color: var(--primary-color);
    font-size: 25px;
}

.main ul {
    display: flex;
    margin-left: 30px;
    list-style: none;
}
.main ul li {
   padding: 10px 30px;
}

.main ul li a {
    color: #444;
    text-decoration: none;
    transition: all 1s 0.4s ease;
}

.main ul li a:hover {
    color: red;
    border-top: 5px solid var(--secondary-color);

} 

.side-button img {
    /* content: ''; */
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    clip-path: circle(50% at right 40%);
}

.side-button a{
    position: absolute;
    right: 0;
    top: 0;
    text-decoration: none;
    color: #fff;
    margin-top: 7px;
    transition: all 1s 0.4s ease;
}

.side-button a:hover {
    background: #ddd;
    color: #444;
}

.log {
    margin-right: 170px;
    padding-top: 3px;
}

.sign {
    display: inline-block;
    width: 100px;
    height: 30px;
    padding-top: 3px;
    text-align: center;
    border-radius: 30px;
    background: green;
}

.text {
    position: absolute;
    bottom: 130px;
    font-size: 30px;
    right: 0;
    width: 380px;
    color: #fff;
}

/* showcase */
.content-showcase {
    font-size: 40px;
    margin-top: 180px;
}

.content-showcase span {
    color: var(--secondary-color);
}

.content-showcase .cheri {
    color: var(--primary-color);
}

.selectbox {
    position: absolute;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, .2);
    width: 600px;
    height: 45px;
    border-radius: 30px;
    margin: 70px 0;
}
.select {
    display: flex;
    padding: 10px 20px;
    text-align: center;
}

select {
    /* padding: 20px; */
    border: 0 !important;
    margin: 0 20px;
}

.button button {
    display: inline-block;
    width: 100px;
    height: 30px;
    cursor: pointer;
    background: var(--primary-color);
    color: #fff;
    border: none;
    margin-left: 110px;
    border-radius: 30px;
    /* margin-bottom: 8px; */
    transition: all 1s 0.4s ease; 
}

.button button:hover {
    background: #ddd;
    color: #444;
}

.box-shadow {
    width: 70%;
    height: 200px;
    margin-left: 60px;
    margin-top: 20px;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, .2);
}

/* box */
.center {
    text-align: center;
    font-size: 30px;
    position: absolute;
    bottom: 0;
}