:root {
    --primary-color: #26e626;
    --secondary-color: #470303b9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.4;
    /* position: relative; */
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.container-nav {
    display: flex;
    justify-content: space-between;
}

.logo {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 600;
}

.logo span {
    color: var(--secondary-color);
}
.logo .span-g {
    color: var(--primary-color);
}

.container-nav ul {
    display: flex;
   list-style: none;
   
}

.container-nav ul li {
    padding: 10px 0;
    margin-right: 80px;
}

.container-nav ul li a {
    text-decoration: none;
    transition: all 2s ease;
}

.container-nav ul li a:hover {
    border-top: 5px solid var(--secondary-color);
    color: salmon;
}

.side-button  {
  margin-top: 10px;
  position: relative;
  z-index: 1;
}

.side-button a{
    text-decoration: none;
    margin: 0 30px;
    color: #fff;
}

.side-button a:hover {
    color: red;
}

.side-button button {
    background: var(--primary-color);
    height: 30px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 2s ease;
}

.side-button button a {
    color: #fff;
}

.side-button button:hover {
    background: #ddd;
}

/* side-img */
.circle-img img {
    position: absolute;
    height: 70%;
    width: 70%;
    top: 0;
    right: 0;
    clip-path: circle(50% at right 40%);
}

.text p{
  position: absolute;
  right: 0;
  bottom: 250px;
  width: 190px;
  font-size: 20px;
  z-index: 1;
  color: #fff;
  margin-right: 40px;

}

/* showcase */
.showcase-content h1 {
   margin: 70px 0;
   font-size: 40px;
}

.showcase-content span {
    color: var(--secondary-color);
}

.showcase-content .cheri {
    color: var(--primary-color);
}


.select {
    display: flex;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.2);
    height: 40px;
    padding-top: 10px;
    width: 600px;
    border-radius: 30px;
}

select {
   margin: 0 10px;
    border: none;
    outline: none;
}

.button button {
    display: inline-block;
    background: var(--primary-color);
    width: 100px;
    height: 25px;
    margin-bottom: 7px;
    margin-left: 235px;
    border-radius: 30px;
    cursor: pointer;
    border: none;
    color: #fff;
    transition: all 2s ease;
}

.button button:hover {
    background: #ddd;
    color: #444;
}

/* boxes */
.card-1 img {
    height: 90%;
    width: 250px;
    position: relative;
    left: 30%;
    bottom: 20%;
    border-radius: 5px;
}
.card-2 img {
    height: 90%;
    width: 250px;
    position: relative;
    left: 30%;
    bottom: 20%;
    border-radius: 5px;
}
.card-3 img {
    height: 90%;
    width: 250px;
    position: relative;
    left: 30%;
    bottom: 20%;
    border-radius: 5px;
}

.card-1 {
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.2);
    height: 190px;
    border-radius: 5px;

}
.card-2 {
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.2);
    height: 190px;
    border-radius: 5px;

}

.card-3 {
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.2);
    height: 190px;
    border-radius: 5px;

}

.center {
    display: flex;
    justify-content: space-between;
    margin-right: 130px;
}

.boxes-content h1 {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 80px 0;
    color: #444;
}

.p {
   position: absolute;
   top: 630px;
   width: 200px;
   padding-left: 20px;
}



/* what */
.container-what {
    display: flex;
    position: relative;
    justify-content: space-evenly;
    justify-self: center;
    justify-items: center;
    align-items: center;
    margin: 120px 0;
 }
.main-img img {
    width: 300px;
}

.main-img2 img {
    position: relative;
    right: 170px;
    top: 50px;
    width: 300px;
     border-radius: 5px; 
}


.what h1 {
    padding-top: 80px;
    width: 300px;
    color: #444;
}
.what p {
    line-height: 1.7;
    font-size: 20px;

}



/* donation */
.donate-content {
    display: flex;
    position: relative;
    justify-content: space-evenly;
    width: 100%;
    padding: 45px;
    justify-content: center;
    justify-self: center;
    align-self: center;
    align-items: center;
}

#background {
    background: #ddd;
}

.donate-box h1 {
    padding-top: 70px;
}

.donate-box p {
    line-height: 1.7;
}


.img img {
    height: 170px;
    position: relative;
    left: 170px;
    top: 50px;
    width: 300px;
    border-radius: 5px;
}

.img-2 img {
    height: 170px;
    width: 300px;
    border-radius: 5px;
   
}

/* shadows  */
.container-shadow {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 100;
    line-height: 1.4;
    margin: 70px 0;
}
.shadow-box {
    position: relative;
    max-width: 400px;
    height: auto;
    box-shadow: 1px 0px 0px 2px rgba(0, 0, 0, 0.2);
    /* margin: 100px 30px; */
    box-sizing: border-box;
    padding: 40px;
}

.shadow-box::after {
    position: absolute;
    width: 50px;
    height: 50px;
    box-shadow: 2px 3px rgba(0, 0, 0, 0.1);
    top: 100%;
    left: 70%;
    margin-left: -25px;
    content: '';
    transform: rotate(45deg);
    margin-top: -25px;
}

.shadow2 {
    position: relative;
    max-width: 400px;
    height: auto;
    box-shadow: 1px 0px 0px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    padding: 40px;

}

.shadow2::after {
    position: absolute;
    width: 50px;
    height: 50px;
    box-shadow: 2px 3px rgba(0, 0, 0, 0.1);
    top: 100%;
    left: 70%;
    margin-left: -25px;
    content: '';
    transform: rotate(45deg);
    margin-top: -25px;
    /* border-radius: -70px; */
}

.circle1 {
    display: flex;
    height: 155px;
    margin-left: 160px;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;
    justify-items: center;
}

.circle1 img {
    width: 70px;
    clip-path: circle();
}

/* footer */
#footer {
    background: var(--secondary-color);
    margin: 40px 0;
    height: 350px;
}

.container-footer {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.footer-items {
    color: #fff;
    line-height: 1.7;
}

.footer-items h1 {
    font-size: 20px;
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.footer-items li {
    list-style: none;
    padding-top: 30px;
}
.footer-items li a {
    text-decoration: none;
    color: #fff;
    transition: all 2s ease;
}

.footer-items li a:hover {
    color: red;
    text-decoration: underline;
}

.footer-icons {
    text-align: center;
    justify-content: center;
    align-self: center;
    align-items: center;
}

.footer-icons img {
    height: 30px;
    margin: 40px 15px;
}
